### Exercise 1: Calculate the multiplication and sum of two numbers
##### Given two integer numbers, write a Python code to return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

In [3]:
# Solution 1
number1 = 40
number2 = 30

if number1 * number2 <= 1000:
    print("The result is ", number1 * number2)
else:
    print("The result is ", number1 + number2)

The result is  70

In [44]:
# Solution 2
number1 = int(input("Enter the first number"))
number2 = int(input("Enter the second number"))

if number1 * number2 <= 1000:
    print("The result is ", number1 * number2)
else:
    print("The result is ", number1 + number2)

Enter the first number 20
Enter the second number 20

The result is  400

In [83]:
#Solution 3
def calculation(number1, number2):
    
    if number1 * number2 <= 1000:
        print("The result is ", number1 * number2)
    else:
        print("The result is ", number1 + number2)

calculation(40, 30)

The result is  70

### Exercise 2: Print the Sum of a Current Number and a Previous number
##### Write a Python code to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

In [85]:
# Solution 1

for i in range(10):
    if i == 0:
        print(f"Current number is {i} Previous number is {i}, Sum: 0")
    else:
        j = i + (i - 1)
        print(f"Current number is {i} Previous number is {i - 1}, Sum: {j}")

Current number is 0 Previous number is 0, Sum: 0
Current number is 1 Previous number is 0, Sum: 1
Current number is 2 Previous number is 1, Sum: 3
Current number is 3 Previous number is 2, Sum: 5
Current number is 4 Previous number is 3, Sum: 7
Current number is 5 Previous number is 4, Sum: 9
Current number is 6 Previous number is 5, Sum: 11
Current number is 7 Previous number is 6, Sum: 13
Current number is 8 Previous number is 7, Sum: 15
Current number is 9 Previous number is 8, Sum: 17

In [86]:
# SOlution 2

def sum_num(n):
    for i in range(n):
        if i == 0:
            print(f"Current number is {i} Previous number is {i}, Sum: 0")
        else:
            j = i + (i - 1)
            print(f"Current number is {i} Previous number is {i - 1}, Sum: {j}")

sum_num(8)

Current number is 0 Previous number is 0, Sum: 0
Current number is 1 Previous number is 0, Sum: 1
Current number is 2 Previous number is 1, Sum: 3
Current number is 3 Previous number is 2, Sum: 5
Current number is 4 Previous number is 3, Sum: 7
Current number is 5 Previous number is 4, Sum: 9
Current number is 6 Previous number is 5, Sum: 11
Current number is 7 Previous number is 6, Sum: 13

### Exercise 3: Print characters present at an even index number
##### Write a Python code to accept a string from the user and display characters present at an even index number.

##### For example, str = "PYnative". so your code should display ‘P’, ‘n’, ‘t’, ‘v’.

In [88]:
def strng_operation(str1):
    for i in range(len(str1)):
        if i % 2 == 0:
            print(str1[i])

strng_operation("PYnative")

P
n
t
v

### Exercise 4: Remove first n characters from a string
##### Write a Python code to remove characters from a string from 0 to n and return a new string.

In [90]:
#Solution 1

def remove_chars(str1, n):
    new_str = str1.replace(str1[:n], "")
    print(new_str)

remove_chars("PYnative", 2)

native

In [91]:
#Solution 2

def remove_chars(str1, n):
    print(str1[n:])

remove_chars("PYnative", 2)

native

### Exercise 5: Check if the first and last numbers of a list are the same
##### Write a code to return True if the list’s first and last numbers are the same. If the numbers are different, return False.

In [93]:
# Solution 1

def comp_list(list1):
    print("Given list: ", list1)
    print("result is ", list1[0] == list1[-1])

comp_list([75, 65, 35, 75, 30])

Given list:  [75, 65, 35, 75, 30]
result is  False

In [94]:
# Solution 2

def comp_list(list1):
    print("Given list: ", list1)
    if list1[0] == list1[-1]:
        print("result is True")
    else:
        print("result is False")

comp_list([10, 20, 30, 40, 10])

Given list:  [10, 20, 30, 40, 10]
result is True

### Exercise 6: Display numbers divisible by 5
##### Write a Python code to display numbers from a list divisible by 5

In [96]:
def mul_by_5(list1):
    print("Given list is ", list1)
    print("Divisible by 5")
    
    for i in range(len(list1)):
        if list1[i] % 5 == 0:
            print(list1[i])

mul_by_5([10, 20, 33, 46, 55])

Given list is  [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

### Exercise 7: Find the number of occurrences of a substring in a string
##### Write a Python code to find how often the substring “Emma” appears in the given string.

In [98]:
def find_str(str_x, word_x):
    list_x = str_x.split()
    n = list_x.count(word_x)
    print(f"{word_x} appeared {n} times")

find_str("Mary had a little lamb, Little lamb, little lamb, Mary had a little lamb", "Little")

Little appeared 1 times

### Exercise 8: Print the following pattern
##### 1
##### 2 2
##### 3 3 3
##### 4 4 4 4
##### 5 5 5 5 5

In [100]:
def lines_print(n):
    for i in range(n+1):
        for j in range(i):
            print(i, end = " ")
        print('\n')

lines_print(5)

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

### Exercise 9: Check Palindrome Number
##### Write a Python code to check if the given number is palindrome. A palindrome number is a number that is the same after reverse. For example, 545 is the palindrome number.

In [102]:
def palind(n):
    print("Given number is:", n)

    rev_num = 0
    while n > 0:
        remainder = n % 10
        rev_num = (rev_num * 10) + remainder
        n = n // 10

    print("Reverse number is:", rev_num)
    if n == rev_num:
        print("Given number is a palindrome")
    else:
        print("Given number is not a palindrome")

palind(110)

Given number is: 110
Reverse number is: 11
Given number is not a palindrome

### Exercise 10: Merge two lists using the following condition
##### Given two lists of numbers, write a Python code to create a new list such that the latest list should contain odd numbers from the first list and even numbers from the second list.

In [104]:
def list_combo(list1, list2):
    odd_list = []
    even_list = []
    
    for i in range(len(list1)):
        if list1[i] % 2 != 0:
            odd_list.append(list1[i])

    for i in range(len(list2)):
        if list2[i] % 2 == 0:
            even_list.append(list2[i])

    final_list = odd_list + even_list
    print(final_list)

list_combo([10, 20, 25, 30, 35], [40, 45, 60, 75, 90])

[25, 35, 40, 60, 90]

### Exercise 11: Get each digit from a number in the reverse order.
##### For example, If the given integer number is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [128]:
def rev_digits(n):
    while n != 0:
        digit = n % 10
        n = n // 10
        print(digit, end =" ")


rev_digits(12345)

5 4 3 2 1

### Exercise 12: Calculate income tax
##### Calculate income tax for the given income by adhering to the rules below
##### First 10,000 - 0%, next 10,000 - 10% , reamining - 20%

In [146]:
def calc_income_tax(x):
    if x <= 10000:
        print("Your income is not taxable")
    elif x > 10000 and x <= 20000:
        tax = (x-10000) * 0.1
        print(f"You have to pay {tax} as tax")
    else:
        tax = 10000 * 0.1 + (x - 20000) * 0.2
        print(f"You have to pay {tax} as tax")


calc_income_tax(45000)

You have to pay 6000.0 as tax

### Exercise 13: Print multiplication table from 1 to 10

In [165]:
def tables(n):
    for i in range(1, n + 1):
        for j in range(1, 11):
            product = i * j

            print(product, end = " ")
        print("\t\t")

tables(10)

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

### Exercise 14: Print a downward half-pyramid pattern of stars
##### * * * * *
##### * * * *
##### * * *
##### * *
##### *

In [177]:
def print_pattern(n):
    for i in range(n, 0, -1):
        for j in range(i, 0, -1):
            print("*", end = " ")
        print("\t\t")

print_pattern(10)

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

### Exercise 15: Get an int value of base raises to the power of exponent

In [186]:
# Solution 1 - using pow() function

def pow_calc(b, e):
    print(f"base = {b}\nexponent = {e}")
    result  = pow(b, e)
    print(f"{b} raises to the power of {e}: {result}")

pow_calc(5, 4)

base = 5
exponent = 4
5 raises to the power of 4: 625

In [192]:
# Solution 2 - using for loop

def calc_fn(b, e):
    prod = 1
    for i in range(1, e+1, 1):
        prod = prod * b
    print(f"{b} raises to the power of {e}: {prod}")

calc_fn(2, 5)

2 raises to the power of 5: 32