# Exercise 1: Print first 10 natural numbers using while loop

In [4]:
i = 1

while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

# Exercise 2: Print the following pattern
##### 1
##### 1 2
##### 1 2 3
##### 1 2 3 4 
##### 1 2 3 4 5

In [17]:
def print_pattern(n):
    for i in range(1, n+1, 1):
        j = 1
        for j in range(1, i+1, 1):
            print(j, end = " ")
        j = j + 1
        print("\t\t")
    i = i + 1

print_pattern(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Exercise 3: Calculate sum of all numbers from 1 to a given number
##### Write a Python program to accept a number from a user and calculate the sum of all numbers from 1 to a given number
##### For example, if the user entered 10, the output should be 55 (1+2+3+4+5+6+7+8+9+10

In [28]:
n = int(input("Enter the number"))
sum_n = 0
for i in range(n + 1):
    sum_n = sum_n + i
print("Sum is: ", sum_n)

Enter the number 10

Sum is:  55

# Exercise 4: Print multiplication table of a given number

In [33]:
def mul_table(n):
    print("num = ", n)
    for i in range(1, 11, 1):
        product = n * i
        print(product)

mul_table(2)

num =  2
2
4
6
8
10
12
14
16
18
20

# Exercise 5: Display numbers from a list using a loop
##### Write a Python program to display only those numbers from a list that satisfy the following conditions

##### __*__ The number must be divisible by five
##### __*__ If the number is greater than 150, then skip it and move to the following number
##### __*__ If the number is greater than 500, then stop the loop

In [11]:
def custom_list(list1):
    for i in range(0, len(list1)-1, 1):
        if list1[i] > 500:
            break
        elif list1[i] % 5 == 0 and list1[i] <=150:
            print(list1[i])
            i = i + 1

custom_list([120, 75, 150, 180, 20, 145, 525, 50, 45, 188, 200])

120
75
150
20
145

# Exercise 6: Count the total number of digits in a number
##### Write a Python program to count the total number of digits in a number using a while loop.

In [22]:
# Solution 1

def count_digits(n):
    list_digits = []
    while n != 0:
        remainder = n % 10
        list_digits.append(remainder)
        n = n // 10
    print("Number of digits in the given number:", len(list_digits))

count_digits(12345)

Number of digits in the given number: 5

In [26]:
# Solution 2

def count_dgts(n):
    count = 0
    while n != 0:
        n = n // 10
        count = count + 1
    print("Number of digits in the given number:", count)

count_dgts(12345678)

Number of digits in the given number: 8

# Exercise 7: Print the following pattern
##### Write a Python program to print the reverse number pattern using a for loop.
##### 5 4 3 2 1
##### 4 3 2 1
##### 3 2 1
##### 2 1
##### 1

In [35]:
n = int(input("Enter the number of lines to print:"))

for i in range(n, 0, -1):
    for j in range(i, 0, -1):
        print(j, end = " ")
    print("\t\t")

Enter the number of lines to print: 5

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

# Exercise 8: Print list in reverse order using a loop

In [48]:
# Solution 1

def list_reverse(list1):
    for i in range(len(list1)-1, -1, -1):
        print(list1[i])

list_reverse([10, 20, 30, 40, 50])

50
40
30
20
10

In [54]:
# Solution 2

def list_rev(list_1):
    new_list = reversed(list_1)
    for i in new_list:
        print(i)
        
list_rev([10, 20, 30, 40, 50])

50
40
30
20
10

# Exercise 9: Display numbers from -10 to -1 using for loop

In [67]:
n = int(input("Enter the starting number"))

for i in range(n, 0, 1):
    print(i)

Enter the starting number -10

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# Exercise 10: Display a message “Done” after the successful execution of the for loop

In [70]:
for i in range(5):
    print(i)
print("Done!")

0
1
2
3
4
Done!

# Exercise 11: Print all prime numbers within a range

In [86]:
def prime_numbers(b, e):
    print(f"Prime numbers between {b} and {e} are:")
    for i in range(b, e + 1, 1):
        j = 2
        for j in range (2, i, 1):
            if i % j == 0:
                break
        else:
            print(i)

prime_numbers(25, 60)

Prime numbers between 25 and 60 are:
29
31
37
41
43
47
53
59

# Exercise 12: Display Fibonacci series up to 10 terms

In [95]:
first_num = 0
second_num = 1

print("Fibonacci sequence:")
print(first_num, end = " ")
print(second_num, end = " ")

for i in range(8):
    num = first_num + second_num
    print(num, end = " ")
    first_num = second_num
    second_num = num

Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34

# Exercise 13: Find the factorial of a given number

In [102]:
def fact_n(n):
    fact_num = n
    for i in range(n-1, 1, -1):
        fact_num = fact_num * (n-1)
        n = n - 1
    print(fact_num)

fact_n(5)

120

# Exercise 14: Reverse a integer number

In [111]:
def rev_num(n):
    reverse_num = 0
    
    while n != 0:
        remainder = n % 10
        reverse_num = (reverse_num * 10) + remainder
        n = n // 10
        
    print(reverse_num)

rev_num(76542)

24567

# Exercise 15: Print elements from a given list present at odd index positions

In [118]:
def odd_index(list_test):
    list_odd = []
    for i in range(len(list_test)-1):
        if i % 2 != 0:
            list_odd.append(list_test[i])

    for i in list_odd:
        print(i, end = " ")

odd_index([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

20 40 60 80

# Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [125]:
def cubes(n):
    for i in range(1, n + 1, 1):
        cube_n = i ** 3
        print(f"Current number is: {i} and the cube is {cube_n}")

cubes(6)

Current number is: 1 and the cube is 1
Current number is: 2 and the cube is 8
Current number is: 3 and the cube is 27
Current number is: 4 and the cube is 64
Current number is: 5 and the cube is 125
Current number is: 6 and the cube is 216

# Exercise 17: Find the sum of the series up to n terms
##### Write a program to calculate the sum of series up to n terms. For example, if n = 5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [139]:
def series_sum(a, n):
    series_list = []
    series_list.append(a)
    next_a = a
    for i in range(1, n):
        next_a = a + (10 * next_a)
        series_list.append(next_a)

    print(series_list)
    total_sum = sum(series_list) 
    print(total_sum)

series_sum(2, 5)

[2, 22, 222, 2222, 22222]
24690

# Exercise 18: Print the following pattern
##### * 
##### * * 
##### * * * 
##### * * * * 
##### * * * * * 
##### * * * * 
##### * * * 
##### * * 
##### *

In [156]:
import math
def num_lines(n):
    x = math.ceil(n / 2)
    y = math.floor(n / 2)
    for i in range(x + 1):
        print("*"*i)

    for j in range(y+1, 0, -1):
        print("*"*j)

num_lines(10)

*
**
***
****
*****
******
*****
****
***
**
*